@using RealStateAppProg3.Core.Application.ViewModels.TypeSale
@model List<TypeSaleViewModel>

<div class="container mt-5">
    <div class="row mb-3">

        <div class="col-3 offset-9">
            <a asp-controller="Admin" asp-action="SaveTSale" class="btn btn-danger">Agregar tipo de venta</a>
        </div>

        <div class="col-12">
            <h2 class="text-center mb-4">Lista de mejoras</h2>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">cantidad de propiedades asignadas</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @if (@Model != null)
                {
                    @foreach (var beneficiary in @Model)
                    {
                        <tr>
                            <td>@beneficiary.Name</td>
                            <td>@beneficiary.Description</td>
                            <td>
                                <a asp-controller="Admin" asp-action="UpdateTSale" asp-route-Id="@beneficiary.Id">
                                    Actualizar
                                </a>
                            </td>
                            <td>
                                <a asp-controller="Admin" asp-action="RemoveTSale" asp-route-Id="@beneficiary.Id">
                                    Remover
                                </a>
                            </td>
                        </tr>

                    }
                }
            </tbody>
        </table>

    </div>
</div>
