@using RealStateAppProg3.Core.Application.ViewModels.TypeProperty
@using RealStateAppProg3.Core.Application.ViewModels.Propertys;
@model List<TypePropertyViewModel>

<div class="container mt-5">
    <div class="row mb-3">

        <div class="col-3 offset-9">
            <a asp-controller="Admin" asp-action="SaveTpro" class="btn btn-danger">Agregar un tipo de propiedad</a>
        </div>

        <div class="col-12">
            <h2 class="text-center mb-4">Tipos de propiedades</h2>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Cantidad de propiedades asignadas</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @if (@Model != null)
                {
                    @foreach (var type in @Model)
                    {
                        <tr>
                            <td>@type.Name</td>
                            <td>@type.Description</td>
                            <td>@if (ViewBag.Cantidad != null)
                                {
                                    List<PropertyViewModel> list = ViewBag.Cantidad;
                                    var count = list.Count(x => x.NametypeProperty == type.Name);
                                    @: @count

                                }
                            </td>

                            <td>
                                <a asp-controller="Admin" asp-action="UpdateTpro" asp-route-Id="@type.Id">
                                    Actualizar
                                </a>
                            </td>
                            <td>
                                <a asp-controller="Admin" asp-action="RemoveTpro" asp-route-Id="@type.Id">
                                    Remover
                                </a>
                            </td>
                        </tr>

                    }
                }
            </tbody>
        </table>

    </div>
</div>
