﻿@using RealStateAppProg3.Core.Application.ViewModels.Users;
@model ForgotPasswordViewModel;
@{
    ViewData["Title"] = "Pass Page";
}
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

</head>
<body>
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">

                            <form method="post" asp-controller="User" asp-action="PasswordRecover">
                                <div class="mb-md-5 mt-md-4 pb-5">

                                    <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                                    <p class="text-white-50 mb-5">Ingrese su Email!</p>
                                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                                    <div class="form-outline form-white mb-4">
                                        <input asp-for="Email" type="Email" class="form-control form-control-lg" />
                                        <label class="form-label" asp-for="Email">Correo</label>
                                    </div>

                                    <button class="btn btn-outline-light btn-lg px-5" type="submit">Enviar</button>

                                </div>
                            </form>

                            <div>
                                <p class="mb-0">
                                    Volver al login <a asp-controller="User" asp-action="Index" class="text-white-50 fw-bold">Volver</a>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>